@font-face {
    font-family: space;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: syne;
    src: url(Syne-VariableFont_wght.ttf);
}

@font-face {
    font-family: lexend;
    src: url(LexendDeca-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    /* font-family: ; */
    margin: 0px;
    /* padding: 16px; */
    background-color: #FCFAFF;
}

.hidden_bar {
    display: none;
}

.menu_logo {
    position: fixed;
    top: 20px;
    left: 16px;
    z-index: 2;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 64px;
    border-bottom: 1px solid #F8E0FB;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.below_nav {
    margin-top: 112px;
}

.space_font {
    font-family: space;
}

.syne_font {
    font-family: syne;
}