@font-face {
    font-family: space;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: syne;
    src: url(Syne-VariableFont_wght.ttf);
}

@font-face {
    font-family: lexend;
    src: url(LexendDeca-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FCFAFF;
}

.hidden_bar {
    display: none;
}

.menu_logo {
    position: fixed;
    top: 20px;
    left: 16px;
    z-index: 2;
}

.header_container {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 64px;
    border-bottom: 1px solid #F8E0FB;
    overflow: hidden;
    width: 100%;
}

.below_nav {
    margin-top: 112px;
}

.space_font {
    font-family: space;
}

.syne_font {
    font-family: syne;
}

.container {
    margin-left: 16px;
    margin-right: 16px;; 
}

.collection_image img {
    max-width: 288px;
    height: 396px;
    object-fit: fill;
    border-radius: 30px;
}

select {
    max-width: 288px;
}